<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBpB_6I5ISWLCsMpHnCEkQEUIfeudDCx3U</string>
	<key>GCM_SENDER_ID</key>
	<string>1024620063212</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lonalia.ForMe</string>
	<key>PROJECT_ID</key>
	<string>focusme-f122a</string>
	<key>STORAGE_BUCKET</key>
	<string>focusme-f122a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1024620063212:ios:d2a568223a9653aba678c9</string>
</dict>
</plist>